:root {
  --primary-brand-color: #4d5ae5;
  --header-color: #2e2f42;
  --main-text-color: #434455;
  --secondary-font: "Raleway", sans-serif;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ol,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
}

.secondary-header {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

@media screen and (min-width: 480px) {
  .container {
    width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*Header*/
.logo,
.header-elements {
  height: 22px;
}

.web {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.web,
.btn {
  color: var(--primary-brand-color);
}

.studio {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.studio,
.menu-link,
.secondary-header,
.third-header {
  color: var(--header-color);
}

/*Mobile*/
@media screen and (max-width: 767px) {
  .menu-list {
    display: none;
  }

  .contacts {
    display: none;
  }

  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
  }

  .header-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-menu-open {
    width: 28px;
    height: 28px;
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 100;
    padding: 80px 51px 40px 40px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition), visibility var(--transition);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: transparent;
    background: #e7e9fc;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .web,
  .studio {
    line-height: 1.17;
  }

  .mm-menu-items-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .mobile-menu-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .mm-contacts-items {
    display: block;
  }

  .contacts-mobmenu-tel {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    color: var(--primary-brand-color);
  }

  .contacts-mobmenu-email {
    margin-top: 40px;
    margin-bottom: 48px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .mm-soc-items {
    display: flex;
    gap: 56px;
  }

  .mm-soc-item-link {
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition);
  }

  .mm-current-menu-link {
    color: #404bbf;
  }
}

/*Tablet*/
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .mobile-menu-open {
    display: none;
  }

  .page-header {
    position: fixed;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 22px;
    left: 0px;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid #e7e9fc;
    z-index: 100;
  }

  .header-elements,
  .nav-list {
    display: flex;
    align-items: center;
  }

  .menu-list {
    gap: 40px;
    margin-left: 123px;
  }

  .menu-item {
    position: relative;
    font-weight: 700;
    font-size: 16px;
  }

  .menu-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 22px;
    transition: color var(--transition);
  }

  .current-menu-link {
    color: #404bbf;
  }

  .current-menu-link::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background: #404bbf;
    border-radius: 2px;
    opacity: 1;
    z-index: 5;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: auto;
  }

  .menu-link:hover,
  .menu-link:focus,
  .contact-link:hover,
  .contact-link:focus {
    color: var(--primary-brand-color);
  }

  .contact-link {
    color: var(--main-text-color);
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    transition: color var(--transition);
  }

  .contacts-item {
    height: 16px;
  }
}

/*Desktop*/
@media screen and (min-width: 1200px) {
  .menu-list {
    margin-left: 76px;
  }

  .contacts {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/*Hero*/

/*Mobile*/
.hero {
  min-height: 432px;
  background: var(--header-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../img/hero-mb.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 112px;
  padding-bottom: 112px;
}

.mh-box {
  display: inline-block;
  max-width: 318px;
  margin-left: auto;
  margin-right: auto;
}

.main-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #ffffff;
  margin-bottom: 72px;
}

.modal-btn {
  width: 169px;
  height: 56px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;
  background-color: var(--primary-brand-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0px;
  transition: background-color var(--transition);
}

.modal-btn:hover,
.modal-btn:focus,
.modal-btn:active {
  color: #ffffff;
  background: #404bbf;
}

@media screen and (min-device-pizrl-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/hero-mb@2x.jpg);
  }
}

/*Tablet*/
@media screen and (min-width: 768px) {
  .hero {
    min-height: 436px;
    background: var(--header-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/hero-tb.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 70px;
    padding-top: 112px;
    padding-bottom: 108px;
  }

  .mh-box {
    display: inline-block;
    max-width: 494px;
  }

  .main-header {
    margin-bottom: 40px;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media screen and (min-device-pizrl-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/hero-tb@2x.jpg);
  }
}

/*Desktop*/
@media screen and (min-width: 1200px) {
  .hero {
    min-height: 600px;
    background: var(--header-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/hero-dt.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .main-header {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 40px;
  }
}

@media screen and (min-device-pizrl-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/hero-dt@2x.jpg);
  }
}

/*Benefits Mobile*/
.hide {
  display: none;
}

@media screen and (max-width: 1199px) {
  .bnf-icon-list,
  .third-header {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .bnfts-box {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .benefits {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }

  .bnft-mob-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--header-color);
    margin-bottom: 8px;
  }

  .bnft-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
  }
}

/*Benefits Tablet*/

@media screen and (min-width: 768px) {
  .bnfts-box {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .benefits {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .bnft-item-text {
    width: 356px;
  }
}

/*Benefits Desktop*/

@media screen and (min-width: 1199px) {
  .bnfts-box {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .bnft-mob-header {
    display: none;
  }

  .bnf-icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 8px;
  }

  .bnf-item {
    display: flex;
    width: 264px;
    height: 112px;
    margin-top: 0;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .bnft-item-text {
    width: 264px;
    margin-top: 8px;
  }
}

/*Benefits Mobile/Tablet*/
@media screen and (max-width: 1199px) {
  .wwad-box {
    display: none;
  }
}

/*What are we going*/
.wwad-box {
  padding-bottom: 120px;
}

.wwad {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}

/*Our team Mobile*/

.ot-header {
  margin-bottom: 72px;
}

.team-box {
  background: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 128px;
}

.ot-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.ot-item {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.team-item-text {
  text-align: center;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.soc-items-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.soc-item {
  width: 40px;
  height: 40px;
}

.soc-item-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition);
}

.soc-item-link:hover,
.soc-item-link:focus {
  background-color: #404bbf;
}

.soc-icon {
  fill: #f4f4fd;
}

/*Tablet*/

@media screen and (min-width: 767px) {
  .team-box {
    background: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 104px;
  }

  .ot-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
}

/*Customers-Mobile*/

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
  column-gap: 16px;
}

.customers-item-link {
  width: 190px;
  height: 88px;
  padding: 16px 32px;
  fill: #afb1b8;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill var(--transition), border var(--transition);
}

.customers-item-link:hover,
.customers-item-link:focus {
  fill: var(--primary-brand-color);
  border: 1px solid var(--primary-brand-color);
  border-radius: 4px;
}

@media screen and (min-width: 767px) {
  .customers-item-link {
  width: 168px;
  height: 88px;
  padding: 16px 32px;
  fill: #afb1b8;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill var(--transition), border var(--transition);
}
}

/*
.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customers-item-link {
  width: 168px;
  height: 88px;
  padding: 16px 32px;
  fill: #afb1b8;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill var(--transition), border var(--transition);
}

.customers-item-link:hover,
.customers-item-link:focus {
  fill: var(--primary-brand-color);
  border: 1px solid var(--primary-brand-color);
  border-radius: 4px;
}
*/
/*Portfolio*/
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 172px;
  padding-bottom: 120px;
}

.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 96px;
}

.filter {
  margin-right: 24px;
}

.filter:last-child {
  margin-right: 0;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  font-weight: 600;
  text-align: center;
  letter-spacing: 0.04em;
  transition: background-color var(--transition), box-shadow var(--transition),
    border var(--transition);
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid #404bbf;
}

.works-item {
  width: 360px;
  height: 420px;
  margin-right: 24px;
  margin-bottom: 48px;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow var(--transition);
}

.works-item:hover,
.works-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.works-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.works-item:nth-child(3n) {
  margin-right: 0px;
}

.works-img-item {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  color: #f4f4fd;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 40px;
  padding-bottom: 164px;
  padding-left: 32px;
  padding-right: 32px;
  transform: translate(0, 100%);
  transition: transform var(--transition);
}

.work-item-link:hover .overlay,
.work-item-link:focus .overlay {
  transform: translate(0, 0);
}

.card-text {
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.work-type-text {
  color: var(--main-text-color);
}

.wi-header {
  margin-bottom: 8px;
}

/*Footer*/
/*
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--header-color);
}

.ft-boxes {
  display: flex;
}

.ft-logo {
  margin-bottom: 16px;
}

.studio-down {
  color: #f4f4fd;
}

.tagline {
  min-width: 264px;
  color: #e7e9fc;
}

.social-media-wrapper {
  margin-left: 120px;
}

.social-media-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  padding-bottom: 16px;
}

.ft-soc-items-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.ft-soc-item-link {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition);
}

.ft-soc-item-link:hover,
.ft-soc-item-link:focus {
  background: #31d0aa;
}

.subscribe-wrapper {
  margin-left: 80px;
}

.ft-modal-form-input {
  width: 264px;
  height: 40px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-btn {
  display: flex;
  font-family: inherit;
  margin-left: auto;
  margin-right: auto;
  width: 165px;
  height: 40px;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--primary-brand-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0px;
  transition: background-color var(--transition);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  color: #ffffff;
  background: #404bbf;
}

.subscribe-icon {
  fill: #fff;
  padding-left: 16px;
}
*/
/*Modal window*/ /*
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 101;
  transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.4);
}

.modal {
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition);
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  background: #e7e9fc;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-close-button:hover,
.modal-close-button:focus,
.modal-close-button:active {
  background: #404bbf;
  fill: #fff;
}
*/
/*Modal form*/
/*
.callback {
  display: flex;
  justify-content: center;
  font-style: normal;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 14px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input-desc {
  display: block;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-input {
  background: none;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: var(--transition);
}

.modal-form-input:focus {
  background: none ;
  outline: none;
  border-color: var(--primary-brand-color);
}

.modal-form-input-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 19px;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: var(--transition);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--primary-brand-color);
}

.modal-form-msg {
  background: none;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 16px;
  transition: var(--transition);
}

.modal-form-msg:focus {
  background: none;
  outline: none;
  border-color: var(--primary-brand-color);
}

.modal-form-msg::placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-check-desc::before {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  content: "";
  cursor: pointer;
}

.modal-form-check:checked + .modal-form-check-desc::before {
  background-color: #404bbf;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.privacy-policy-link {
  color: var(--primary-brand-color);
}

.modal-form-check:focus + .modal-form-check-desc::before {
  outline: 1px solid #4d5ae5;
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
  margin-bottom: 16px;
}

.modal-form-submit {
  width: 169px;
  height: 56px;
  font-family: inherit;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;
  background-color: var(--primary-brand-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0px;
  transition: background-color var(--transition);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  color: #ffffff;
  background: #404bbf;
}
*/
